body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTas3vOHIBkUhUjlXpLxXQyngLjwW7tTPQrWQ&usqp=CAU);
}



.a {
    text-align: center;
    font-size: 3;
    font-family: Arial;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }